doctype 5
html(lang='en-us')
	head
		meta(charset='utf-8')
		title= title
		link(rel='stylesheet', href='/css/style.css')
body
	block content
	script(src='/js/lib/jquery-1.10.1.js')
	script(src='/js/crapnotcrap.js')
