/* Mixins */

border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments

box-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	box-shadow arguments

/* Styles */

html, body
	min-height: 100%;
	margin: 0
	padding: 0
	width: 100%;

body
	background-color: #f2ecda
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(242, 236, 218)), to(rgb(255, 251, 237)))
	background-image: -webkit-linear-gradient(top, rgb(242, 236, 218), rgb(255, 251, 237))
	background-image: -moz-linear-gradient(top, rgb(242, 236, 218), rgb(255, 251, 237))
	background-image: -o-linear-gradient(top, rgb(242, 236, 218), rgb(255, 251, 237))
	background-image: -ms-linear-gradient(top, rgb(242, 236, 218), rgb(255, 251, 237))
	background-image: linear-gradient(top, rgb(242, 236, 218), rgb(255, 251, 237))
	font: 16px "Lucida Grande", Helvetica, Arial, sans-serif

a
	color: #A64729

h1.logo
	background: transparent url(/img/logo-x2.png) no-repeat center center
	background-size: 311px 50px
	height: 50px
	margin: 0
	text-indent: 100%
	overflow: hidden
	white-space: nowrap
	width: 100%

.search-form
	background: #D9D1B8
	border-radius(8px)
	margin: 60px auto 0
	padding: 20px
	width: 460px

header.search-form
	border-radius(0)
	box-shadow(1px 0 3px 0 #333)
	left: 0
	margin: 0
	padding: 15px 0
	position: fixed
	top: 0
	width: 100%
	z-index: 2

header.search-form p
	text-align: center

.search-form p
	margin: 0

.search-form .input-container
	margin: 20px 0

.search-form input
	border: 0
	border-radius(2px)
	font-size: 16px
	height: 20px
	line-height: 20px
	margin: 0
	padding: 5px 5px
	width: 450px

.button-container
	text-align: center

button
	background-color: #dfa57f;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(223, 165, 127)), to(rgb(208, 124, 97)));
	background-image: -webkit-linear-gradient(top, rgb(223, 165, 127), rgb(208, 124, 97));
	background-image: -moz-linear-gradient(top, rgb(223, 165, 127), rgb(208, 124, 97));
	background-image: -o-linear-gradient(top, rgb(223, 165, 127), rgb(208, 124, 97));
	background-image: -ms-linear-gradient(top, rgb(223, 165, 127), rgb(208, 124, 97));
	background-image: linear-gradient(top, rgb(223, 165, 127), rgb(208, 124, 97));
	border: none
	border-radius(2px)
	color: white
	cursor: pointer
	font-size: 16px
	height: 30px
	line-height: 27px
	width: 150px

.search-results
	margin: 90px auto 30px
	width: 700px

.search-results h2
	font-size: 18px
	margin-bottom: 10px

.polls
	margin: 10px auto 45px
	padding: 0

.polls li
	display: block
	line-height: 25px
	list-style: none
	position: relative

.polls .label
	background: #CCC2A3
	margin: 0 0 5px
	overflow: hidden
	padding: 0
	width: 600px

.polls .label strong
	background: #AA2245
	color: white
	display: block
	font-size: 14px
	font-weight: normal
	line-height: 25px
	white-space: nowrap
	width: 100%

.polls .label strong:before
	content: ""
	display: inline-block
	width: 5px

.polls .label .is-leading
	background: #F81057

.polls .votes
	position: absolute
	right: 0
	text-align: right;
	top: 0
	white-space: nowrap
	width: 100px
