extends layout

block content
	section.search-form
		form(action='/', method='POST')
			h1.logo= title
			p.input-container
				input.search-box(type='text', name='search', autofocus='autofocus', placeholder='You know what to do...')
			p.button-container
				button(type='submit') Cold Check It
		p.links
			a(href='/crap') Top 100 Crap
			||
			a(href='/notcrap') Top 100 Not Crap
			||
			a(href='/thunderdome') Thunderdome
